*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
}
.letra1{
    font-family: 'Krona One', sans-serif !important;
}
.letra2{
    font-family: 'Krona One', sans-serif;
}

.letra3{
    font-family: 'Permanent Marker', cursive;
}
.bg-dark{
    background-color: rgb(0,0,0) !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.letra1{
    font-size: 45px !important; 
}

.arriba{
    margin-top: 70px;
}

.navbar-dark .navbar-nav .nav-link{
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-item{
    margin: 0 15px;
}

.container{
    position: center;
    padding-top: 30px;
    padding-left: 40px;
}

.arriba{
    position: relative;
}



.badge-light{
    padding: 10 10 10 10;
    font-size: 38px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    border-radius: 50px;
    margin-bottom: 200px;
}
.badge-light:hover{
    margin-bottom: 205px;
    background-color: rgb(255, 255, 255)!important;
    color: black!important;
    transition: 0.5s;
}

.badge-dark{
    padding: 10 10 10 10;
    font-size: 28px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    border-radius: 50px;
}
.badge-dark:hover{
    margin-left: 10px;
    background-color: rgb(255, 255, 255)!important;
    color: black!important;
    transition: 0.5s;
}

.badge-info{
    padding: 10 10 10 10;
    font-size: 28px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    border-radius: 50px;
}

.badge-info:hover{
    margin-left: 10px;
    background-color: rgb(255, 255, 255)!important;
    color: black!important;
    transition: 0.5s;
}





.title-underline{
    position: relative;
    color: #000000;
    text-align: center;
    font-size: 46px;
    text-transform: uppercase;
    padding-top: 30px; 
}
.title-underline span{
    display: inline block;
    border-bottom: 8px solid rgb(0, 255, 98);
    padding-left: 10px;
    padding-right: 10px;
}





.title-left{
    color: #ffffff;
    float: right;
    font-size: 46px;
    text-transform: uppercase;
    text-align: right;
    padding-right: 50px;
    position: relative;
    margin-top: 200px;
}
.title-left span{
    display: inline block;
    border-bottom: 8px solid rgb(0, 255, 98);
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}



.imagen{
    width: 100%;
    height: 700px;
    background: -webkit-linear-gradient(to right, rgba(0, 0, 0, .3),  rgba(0, 0, 0, .3)), url(IMG/01.jpg);   
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  rgba(0, 0, 0, .3),  rgba(0, 0, 0, .3)), url(IMG/01.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/* ESTA CONDICION PONE A LA IMAJEN EN UNA ADACTACION ADECUADA PARA LA PAGINA*/
    background-size: cover;
background-attachment: fixed;
position: relative;
margin-top: 200px;
}



.formulario{
    float: right;
    margin-right: 180px;
    width: 40em;
}


.title-right{
    color: #000000;
    float: left;
    font-size: 46px;
    text-transform: uppercase;
    position: relative;
    margin-top: 150px;
    margin-left: 250px;
}
.title-right span{
    display: inline block;
    border-bottom: 8px solid rgb(0, 255, 98);
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}




.datos{
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    margin-top: 48px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.datos ul li{
   display: inline-block;
   margin-left: 100px;
}
.datos ul{
    display: inline-block;
    margin-right: 100px;
 }


.title-right2{
    color: #000000;
    text-align: center;
    font-size: 46px;
    text-transform: uppercase;
    position: relative;
    
}
.title-right2 span{
    display: inline block;
    border-bottom: 8px solid rgb(0, 255, 98);
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}




.title-right3{
    color: #000000;
    text-align: center;
    font-size: 46px;
    text-transform: uppercase;
    position: relative;
    margin-left: 20px;
}
.title-right3 span{
    display: inline block;
    border-bottom: 8px solid rgb(0, 255, 98);
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
    .galeria {
        width: 100%;
        height: 500px;
        overflow: hidden;
        display: flex;
        position: relative;
        flex-wrap: wrap;
    }
    
    .imagenes {
        width: 20%;
        height: 500px;
        overflow: hidden;
        position: relative;
    }
    
    .imagenes img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


.fin{
    background-color: black;
    text-align: center;
    color: #ffffff;
}

.shadow:hover{
    margin-top: 20px;
    background:#ffffff !important;
    transition: 0.5s !important;
    transform: 1s !important;
    
}

.negritas{
    font-size: 24px;

}







/*tarjetas*/
.contenedor {
	max-width: 1200px;
	margin:50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor_tarjeta {
	margin: 20px;
}

.contenedor_tarjeta a {
	display: inline-block;
}

.contenedor_tarjeta:hover figure {
	transform: perspective(600px) rotateY(180deg);
	-webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}


figure {
	width: 300px;
	height: 350px;
	margin:0;
	position: relative;
	transition: all ease .5s;
	transform-style: preserve-3d;
	/* Nota:
		Establecemos que la imagen tendra una rotacion de 0grados al inicio porque si no
		ponemos esta propiedad nos da un poco de problemas en algunos navegadores al pasar el cursor.
	*/
	transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition: all ease .5s;
}

figure .frontal {
	display: block;
	background: #000;

	/* Podemos ocultar la imagen al da la vuelta si lo queremos */
	/*backface-visibility: hidden;*/
}

figure .trasera {
	position: absolute;
	top: 0;
	padding: 20px;
	color: #fff;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;
}

.contenedor_tarjeta:nth-child(1) figure .trasera{
	background: rgba(223,234,241,0.7);
	background: -moz-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,234,241,0.7)), color-stop(100%, rgba(15,99,144,1)));
	background: -webkit-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -o-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -ms-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: linear-gradient(to bottom, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfeaf1', endColorstr='#0f6390', GradientType=0 );
}

.contenedor_tarjeta:nth-child(2) figure .trasera{
	background: rgba(251,232,202,0.7);
	background: -moz-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,232,202,0.7)), color-stop(100%, rgba(25,44,72,1)));
	background: -webkit-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -o-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -ms-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: linear-gradient(to bottom, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe8ca', endColorstr='#192c48', GradientType=0 );
}

.contenedor_tarjeta:nth-child(3) figure .trasera{
	background: rgba(95,58,53,0.7);
	background: -moz-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(95,58,53,0.7)), color-stop(100%, rgba(221,32,47,1)));
	background: -webkit-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -o-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: -ms-linear-gradient(top, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	background: linear-gradient(to bottom, rgba(95,58,53,0.7) 0%, rgba(221,32,47,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f3a35', endColorstr='#dd202f', GradientType=0 );
}

figure .trasera .titulo {
	color: #fff;
	font-weight: normal;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

figure .trasera hr {
	height: 2px;
	background: #fff;
	border: none;
	margin-bottom: 20px;
	opacity: .5;
}

figure .trasera p {
	font-family: 'Open Sans', sans-serif;
	line-height: 22px;
	font-size: 14px;
}

@media screen and (max-width: 992px) { 
	figure .trasera {
		/*position: relative;*/
		backface-visibility:visible;
		transform: perspective(600px) rotateY(0deg);
	}

	.contenedor_tarjeta:hover figure {
		transform: perspective(600px) rotateY(0deg);	
    }
   
    
}

/*Maquina de escribir*/

.contenedor-texto .titulo{
    font-family: 'Poppins', sans-serif !important;
    font-size: 70px;
    color: #ffffff;
}
.contenedor-texto .titulo  .typed{
    font-family: 'Mitr', sans-serif !important;
    font-size: 70px;
    color: #ffffff;
}

.contenedor-texto .typed {
    font-family: 'Mitr', sans-serif !important;
    font-size: 70px;
    color: #ffffff;
}
@media screen and (max-width: 992px) 
{ 
    .contenedor-texto .titulo{
        font-family: 'Mitr', sans-serif !important;
        font-family: cursive none;
        font-size: 35px;
        margin-top: 300px;
    }
    .contenedor-texto .titulo  .typed{
        font-family: 'Mitr', sans-serif !important;
        font-family: cursive none;
        font-size: 35px;
        margin-top: 300px;
    }
    
    .contenedor-texto .typed {
        font-family: 'Mitr', sans-serif !important;
        font-family: cursive none;
        font-size: 35px;
        margin-top: 300px;
    }
}
/*Maquina de escribir*/

